body{
    font-family: 'Poppins', sans-serif;
}
.jumbotron { 
    padding-top : 6rem;
    background-color: #e4e0ff;
}
section {
    padding-top: 6rem;
}

#skills {
    background-color: #e4e0ff;
}

.animation {
    background-color: transparent;
}
.animation .card-text{
    transform: translateY(-55px);
    transition: 0.3s;
    z-index: 2;
}
.animation:hover .card-text{
    transform: translateY(0px);
    transition: 0.3s;
}

.animation img{
    border-radius: 100%;
    background-color: white;
    z-index: 1;
    transform: translateY(20px);
    transition: 0.3s;
}

.animation:hover img{
    transform: translateY(0px);
    transition: 0.3s;
}