body{
    font-family: 'Poppins', sans-serif;
}

#project {
    background-color: aliceblue;
}

section { 
    padding-top: 6rem;
}

.animation {
    background-color: transparent;
}
.animation .card-text{
    transform: translateY(-55px);
    transition: 0.3s;
    z-index: 2;
}
.animation:hover .card-text{
    transform: translateY(0px);
    transition: 1s;
}

.animation img{
    border-radius: 100%;
    background-color: white;
    z-index: 1;
    transform: translateY(20px);
    transition: 0.3s;
}

.animation:hover img{
    transform: translateY(0px);
    transition: 0.3s;
}

.jumbotron-page {
    min-height: 700px;
}