body{
    font-family: 'Poppins', sans-serif;
}
.jumbotron { 
    padding-top : 6rem;
    background-color: #e4e0ff;
}
section {
    padding-top: 6rem;
}

#skills {
    background-color: #e4e0ff;
}
.animation {
    background-color: transparent;
}

.animation img{
    transform: translateY(55px);
    transition: 1s;
}

.animation img:hover{
    transform: translateY(0px);
    transition: 1s;
}